@model IEnumerable<ZenithDataLib.Models.Event>

@{
    ViewBag.Title = "Home Page";

    DateTime mondayDate = DateTime.Today.AddDays(((int)(DateTime.Today.DayOfWeek) * -1) + 1);
    DateTime day = mondayDate;
}

    <h2>Upcoming Events</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityCategory)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var dateFrom = item.DateFrom.ToLongDateString();
            var dateTo = item.DateTo.ToLongDateString();
            var timeFrom = item.DateFrom.ToShortTimeString();
            var timeTo = item.DateTo.ToShortTimeString();

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => timeFrom) - @Html.DisplayFor(modelItem => timeTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityCategory.ActivityDescription)
                </td>
            </tr>
        }
    </table>